@media screen and (max-width: 450px) {
  .hero-line {
    font-size: clamp(10px, 6.5vw, 100px);
    line-height: 0.6;
    -webkit-text-stroke: clamp(0.5px, 0.02vw, 3px) black;
  }
  .hero-me {
    bottom: 200px;
  }
  .hero-info {
    bottom: clamp(120px, 32vh, 700px);
  }
}
