@media screen and (max-width: 1024px) {
  .center-home-text {
    /* Mengurangi tumpang tindih secara bertahap */
    margin-bottom: -40px !important;
  }
}

@media screen and (max-width: 768px) {
  .slide-home {
    padding-top: max(20px, 10vh);
    padding-bottom: max(20px, 10vh);
    justify-content: space-between;
  }

  .head-home {
    transform: none !important;
  }

  .center-home-text {
    margin-bottom: 20px !important;
  }

  .hero {
    transform: translateY(15vh);
  }

  .home-button {
    margin-top: 0vh !important;
  }
}
