@media screen and (max-width: 650px) and (min-width: 300px) {
  .home-nav-name {
    font-size: 10px;
  }

  .hero-line {
    font-size: clamp(10px, 6.5vw, 100px);
    line-height: 0.6;
    -webkit-text-stroke: clamp(0.5px, 0.02vw, 3px) black;
  }

  .hero-title-box h1 {
    font-size: 15px;
  }
  .btn-front {
    font-size: 2vw;
    padding: clamp(2px, 1.5vw, 12px) clamp(16px, 5vw, 3200px);
    text-wrap: nowrap;
    border: 1px solid var(--black);
  }
  .hero-cta {
    bottom: 15vh;
  }
  .home-mask {
    height: 450px;
    object-fit: cover;
    object-position: center;
  }
  .hero-cloud-1 {
    width: 50vh;
  }
  .hero-person {
    width: 200px;
  }
}
